body {
    text-align: center;
    background-color: #82bfed;
    overflow-y: scroll;
    scroll-behavior: smooth;
}  

/* NAV BAR */
.navbar {
    font-family: 'Comfortaa', cursive;
    width: 110%;
    margin: -10px;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
  }
   
li a:hover:not(.active) {
  background-color: #111;
}
  
.active {
  background-color: #044caa;
}



/* BIG NAME SECTION */

.big-name {
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#hero-name {
    font-family: 'Rock Salt', cursive;
    font-size: 6rem;
    text-shadow: #416076 8px 8px 6px;
}

#hero-title {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem;
}

.fade-in {
  -webkit-animation: pulsate 4s ease-in;
  -webkit-animation-iteration-count: infinite 
  opacity: 0.2;
}
@-webkit-keyframes pulsate {
  0% { 
      opacity: 0;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 2;
  }
}

#line-between {
  height: 10px;
  width: 85vw;
  background-color: black;
  border-radius: 5px;
  border-style: none;
  margin-top: 0%;
  padding-top: 0%;
}



/* PROJECTS SECTION  */
#projects-h1 {
    
}

.projects {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.5rem;
}

/* ABOUT SECTION  */

#about-h1 {
  background-color: #82bfed;
}

.about {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.5rem;
}

.edu {
  background-color: #82bfed;
  text-align: center;
}

.edi-li {
  margin: auto;
}

.skills {
  background-color: #82bfed;
  text-align: center;
}

.skills-li {
  margin: auto;
}



  /* CONTACT SECTION  */

#contact-h1 {

}

.contact {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.5rem;
}

.email {

}

.email:hover {

}

/* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .navbar {
      font-family: 'Comfortaa', cursive;
      width: 110%;
      margin: -10px;
      overflow: hidden;
    }

    #hero-name {
      font-family: 'Rock Salt', cursive;
      font-size: 40px;
      text-align: center;
      text-shadow: #416076 6px 6px 6px;
    }

    #hero-title {
      font-family: 'Julius Sans One', sans-serif;
      font-size: 25px;
      text-align: center;
    }

    .fade-in {
      -webkit-animation: pulsate 6s ease-in;
      -webkit-animation-iteration-count: infinite 
      opacity: 0.2;
    }
    @-webkit-keyframes pulsate {
      0% { 
        opacity: 0;
      }
      50% { 
        opacity: 1.0;
      }
      100% { 
        opacity: 2;
      }
    }

    #line-between {
      position: fixed;
      height: 10px;
      width: 85vw;
      background-color: black;
      border-radius: 5px;
      border-style: none;
    }
}
